@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$body-bg: #f8fafc;

$primary: #E88325;
$secondary: #08314e;

// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$btn-padding-x: 24px;
$btn-padding-y: 9px;
$btn-font-family: null;
$btn-font-size: 1rem;
$btn-font-weight: 600;
$btn-line-height: 1.5;
$btn-color: #fff;
$btn-bg: transparent;
$btn-border-width: 1px; // Adjusted for explicit value
$btn-border-color: transparent;
$btn-border-radius: 100px;
$btn-hover-border-color: transparent;
$btn-box-shadow: none; // "unset" is not valid in some browsers
$btn-disabled-opacity: 0.65;
$btn-focus-box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5); // Default focus shadow example

// Font Variables
$font-work-sans: "Work Sans", sans-serif;
$font-fredoka: "Fredoka", sans-serif;

body {
  font-family: $font-work-sans!important;
}

// Font Utility Classes
.font-work-sans {
  font-family: $font-work-sans !important;
}

.font-fredoka {
  font-family: $font-fredoka !important;
}

// Heading Styles
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-fredoka !important;
}

